# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы базы данных
*.sqlite3
*.db

# Игнорировать статические файлы (если они генерируются автоматически)
staticfiles/

# Игнорировать медиафайлы (если они генерируются автоматически)
media/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы операционной системы
.DS_Store

# Игнорировать логи и временные файлы
*.log
*.tmp